@charset "utf-8";
/*
Author: Maheshwar Sai Ganesh
Date: 06/14/2023
Filename: mWeb_styles.css
*/


html {
   background-color: rgb(63, 104, 134);
   font-size: 12px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
   box-shadow: 20px 0 70px rgb(92, 171, 210),
      -20px 0 70px rgb(47, 235, 235);
   background-color: rgb(155, 209, 235);
   border-radius: 20px;
   color: rgb(14, 53, 82);
}


/* Body/Body Header Navigation Styles */
nav a {
   text-decoration: none;
}

body>header {
   background-color: rgb(186, 217, 240);
   height: 105px;
   margin-bottom: 30px;
   position: relative;
   padding-top: 10px;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
}

body>header nav.tabs {
   position: relative;
   bottom: 0px;
   height: 130px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: auto;
   margin-right: auto;
   width: 105%;
}

body>header>nav.tabs>ul {
   position: absolute;
   bottom: 0px;
   width: 100%;
}

body>header nav.tabs li {
   background-color: rgb(186, 217, 240);
   display: block;
   float: left;
   height: 40px;
   line-height: 40px;
   margin-left: 4%;
   margin-right: 2%;
   width: 12%;
   border-radius: 10px;
}

.Dropdown {
   display: block;
   float: left;
   height: 47px;
   line-height: 40px;
   margin-left: 4%;
   margin-right: 2%;
   width: 12%;
   border-radius: 10px;
}

button {
   background-color: rgb(186, 217, 240);
}

body>header nav.tabs li a,
.dropbtn {
   color: rgb(63, 104, 134);
   display: block;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 25px;
   letter-spacing: 1px;
   font-weight: bolder;
   width: 97%;
   height: 95%;
   border-style: solid;
   border-radius: 10px;
   border-width: 3px;
   border-color: rgb(63, 104, 134);

}

body>header nav.tabs li:hover,
.Dropdown:hover .dropbtn,
.dropdwn-content a:hover {
   background-color: rgb(107, 173, 224);

}

.dropdwn-content {
   display: none;
   position: absolute;
   background-color: rgb(186, 217, 240);
   /* min-width: 160px; */
   width: 10.5%;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   border-style: solid;
   border-radius: 8px;
   border-width: 4px;
   border-color: rgb(63, 104, 134);
   text-align: center;
   line-height: 1.3em;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 14px;
   font-weight: bolder;

}

.dropdwn-content a {
   display: block;
   color: rgb(63, 104, 134);
   padding: 12px 16px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 16px;
   border-radius: 5px;
   border-style: solid;
   border-radius: 8px;
   border-width: 4px;
   border-color: rgb(186, 217, 240);

}

.Dropdown:hover .dropdwn-content {
   display: block;
}

section h1,
section h2 {

   display: block;
   color: rgb(14, 53, 82);
}

section h1 {
   font-size: 3em;
}

section h2 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 40px;
   font-weight: bolder;
   text-wrap: nowrap;
   text-align: center;

}

section h3 {
   font-size: 25px;
   font-weight: bolder;
   text-wrap: nowrap;
   text-align: center;
}



/* Change logo size */

body>header img {
   float: left;
   height: 60%;
   margin-top: 8px;
   margin-bottom: 10px;
   margin-left: 15px;
   margin-right: auto;
}

/*Aside*/
aside {
   color: rgb(63, 104, 134);
   background-color: rgb(186, 217, 240);
   display: block;
   text-align: center;
   line-height: 1.3em;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 14px;
   font-weight: bolder;
   width: 32%;
   height: 95%;
   border-style: solid;
   border-radius: 15px;
   border-width: 2px;
   border-color: rgb(63, 104, 134);
   margin-left: auto;
   margin-right: auto;
}

/*Footer*/
footer {
   background-color: rgb(186, 217, 240);
   clear: left;
   margin-top: 25px;
   text-align: right;
   border: solid 2px rgb(186, 217, 240);
   border-bottom-right-radius: 20px;
   border-bottom-left-radius: 20px;
}

footer,
footer span a {
   text-decoration: none;
   padding: 10px;
   color: rgb(63, 104, 134);
}

footer span a:hover {
   color: rgb(55, 158, 236);
   text-decoration: underline;
}

/*Table Styles*/
table {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
   width: 97%;
}

table tbody tr td p {
   font-size: 200%;
   line-height: 1.2em;
   margin-right: auto;
   margin-left: auto;
   height: 100%;
   line-height: 1.2em;
   padding-left: 30%;
   padding-bottom: 10%;
   padding-top: auto;
}

img[alt~="Temple"] figcaption {
   font-size: 10em;
   margin-right: 100px;
   margin-left: auto;
}

table figcaption,
table figcaption br {
   font-size: 1.6em;
   margin-right: auto;
   margin-left: auto;
}



img[alt~="Niagra_Bridge"],
img[alt~="Leopard"],
img[alt~="Windmills"] {
   border-radius: 20px;
   display: block;
   display: inline-block;
   margin-left: 10%;
   margin-right: auto;

}

img[alt~="Temple"],
img[alt~="Koala"] {
   border-radius: 20px;
   display: block;
   display: inline-block;
   margin-left: 25%;
   margin-right: auto;
}

img[alt~="YGIC"] {
   border-radius: 20px;
   display: block;
   display: inline-block;
   margin-left: 12%;
   margin-right: auto;

}

table#YGIC figcaption {
   display: block;
   display: inline-block;
   margin-left: 21%;
   margin-right: auto;
   font-size: 200%;
   font-weight: bolder;

}

table img[alt~="OPMF"] {
   border-radius: 20px;
   display: block;
   display: inline-block;
   margin-left: 17%;
   margin-right: auto;

}

table#OPMF figcaption {
   display: block;
   display: inline-block;
   margin-left: 35%;
   margin-right: auto;
   font-size: 200%;
   font-weight: bolder;
}

table img[alt~="TAB"] {
   border-radius: 20px;
   display: block;
   display: inline-block;
   margin-left: 1.5%;
   margin-right: auto;

}

table#TAB figcaption {
   display: block;
   display: inline-block;
   margin-left: 29%;
   margin-right: auto;
   font-size: 200%;
   font-weight: bolder;
}
table#OPMF p, table#TAB p, table#YGIC p{
   display: block;
   display: inline-block;
   margin-left: -15%;
   margin-right: 10%;
   font-size: 200%;
   font-weight: bolder;
   text-align: center;
}

article table tbody tr td figure {
   margin-left: 80px;
}

article table tbody tr td iframe {
   margin-left: 30px;
}